
* {
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header-nav {
    display: flex;
    gap: 20px;
   
}

.logo-reborn {
    height: 30vw;
}

.section-main-pink {
    background-color: #faacac;
    width: 100%;
    height: 60vh;
}

footer {
    width: 100vw;
    height: 50vh;
    
}

.footer-nav-midias {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-nav2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-createdby {
   text-align: center;
}